<include file="Public:header"/>
<include file="Public:menu"/>
<div class="content-wrapper">
    <!--页面导航/面包屑-->
    <include file="Public:breadcrumb"/>
    <!-- 主体内容 -->
    <section class="content">

        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 style="margin: 0">修改角色信息</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body padding20">
                        <div class="form-group ">
                            <label>角色名<span class="required">*</span></label>
                            <div>
                                <input type="text" id="name" value="{$name}" class="form-control wp50 inline-block">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>状态</label>
                            <div>
                                <div class="radio inline-block margin0">
                                    <label>
                                        <input name="dd" type="radio" value="1" id="1">启用
                                    </label>
                                </div>
                                <div class="radio inline-block margin0">
                                    <label>
                                        <input name="dd" type="radio" value="0" id="0">禁用
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>角色描述</label>
                            <textarea id="description" class="form-control">{$description}</textarea>
                        </div>


                    </div><!-- /.box-body -->
                    <div class="box-footer p20 ">
                        <button class="btn btn-primary w100" type="submit" onclick="return add()">保存</button>
                        <a  onclick="history.go('-1')" class="btn btn-info w100 ml20">返回</a>
                    </div>
                </div><!-- /.box -->
            </div>
        </div>


    </section><!-- /.content -->

</div><!-- ./wrapper -->
<include file="Public:footer"/>
<script>
    function add() {
        var name=$("#name").val();
        if(name==''){
            $("#ts").css('display','');
        }
        var fee_status=$("input:radio:checked").val();
        var description=$("#description").val();
        var url= "{:U('role/change')}&id={$id}&name="+name+"&fee_status="+fee_status+"&description="+description;
        $.getJSON(url,function (json){
                    alert(json);
        }
        )

    }
    $(document).ready(
            function () {
                var ok={$fee_status};
                $("#"+ok).prop("checked",'true');
            }
    )
</script>



