<include file="Public:header"/>
<include file="Public:menu"/>
<div class="content-wrapper">
    <!--页面导航/面包屑-->
    <include file="Public:breadcrumb"/>

    <!-- 主体内容 -->
    <section class="content">

        <!--表格-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <a class="btn btn-primary" href="{:U('Profession/profession_add')}">添加专业</a>
                        <a class="btn btn-danger" id="delAll">批量删除</a>
                        <div class="select pull-right">
                            <form action="{:U('profession/profession_sel')}" method="post">
                                <div style="width:250px; margin-left: 5px;" class="input-group">
                                    <input type="text" placeholder="请输入要搜索的专业名称" style="" class="form-control  " name="search" id="keyword">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" onclick="return select()">搜索</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div><!-- /.box-header -->
                    <form id="FormOrder" action="{:U('Profession/profession_edit')}" method="post">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="treeTable">

                                <tr>
                                    <th width="5%" class="text-center">
                                        <input type="checkbox" id="ChooseAll">
                                    </th>
                                    <th width="10%" class="tc">专业序号</th>
                                    <th width="20%">专业名称</th>
                                    <th width="20%">专业描述</th>
                                    <th width="10%" class="tc">专业等级</th>
                                    <th width="20%">添加时间</th>
                                    <th width="20%">管理操作</th>
                                </tr>

                                    <volist name = "data" id="vo">
                                        <tr>
                                            <td class="text-center">
                                                <input type="checkbox" name="ckbox" value="{$vo.id}">
                                            </td>
                                            <td class="tc" valign="{$vo.id}">{$vo.id}</td>
                                            <td>{$vo.name}</td>
                                            <td>{$vo.content}</td>
                                            <td class="tc">
                                               <?php foreach($level as $key=>$val){ ?>
                                                    <?php if($key == $vo['level']){
                                                    echo $val;
                                                    }?>
                                                <?php }?>
                                            </td>
                                            <td>{$vo.add_time}</td>
                                            <td>
                                                <a class="btn btn-default btn-xs" href="{:U('Profession/profession_edit')}&id={$vo.id}">编辑</a>
                                                <!-- <a class="btn btn-default btn-xs" href="#">模版</a> -->
                                                <a href="#" class="btn btn-default btn-xs" onclick="return del('{$vo.id}')">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                <if condition="empty($data)">
                                    <tr>
                                        <td colspan="9">
                                            <div class="alert alert-danger text-center" role="alert">对不起，暂无数据</div>
                                        </td>
                                    </tr>
                                </if>


                            </table>
                        </div><!-- /.box-body -->
                    </form>
                    <div class="box-footer">
                        <div class="text-right">
                            {$page}
                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
        </div>


    </section>
    <!-- /.content -->

</div><!-- ./wrapper -->
<div class="modal fade" id="myAllModal" tabindex="-1" role="dialog" aria-labelledby="myAllModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">删除操作</h4>
            </div>
            <div class="modal-body">
                <h5 style="color: red;"><span class="glyphicon glyphicon-exclamation-sign" style="margin-right:10px; "></span><span id="data_sum"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="deled()"> 确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--删除弹出框-->
<div class="modal fade" id="myzhuanyeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <span class='glyphicon glyphicon-question-sign text-red' style='font-size: 18px;'></span>
                <span style='font-size: 18px;' class="ml10 text-red">确认要删除该专业？</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="truedel()" class="btn btn-primary w100 ">确定</button>
                <button type="button" class="btn btn-default w100 " data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    del_id = '';
    //全选反选
    $(function (){
        var boxs = document.getElementsByName('ckbox');
        $('#ChooseAll').click(function () {
            $('input[name=ckbox]').prop('checked', $(this).is(':checked'));
        });
        $('input[name=ckbox]').click(function () {
            var len = $('input[name=ckbox]:checked').length;
            if (len == boxs.length) {
                $('#ChooseAll').prop('checked', true);
            } else {
                $('#ChooseAll').prop('checked', false);
            }
        });
        //批量删除提示操作

        $("#delAll").click(function (){
            var del_str = '';
            var len = $('input[name=ckbox]:checked').length;
            if(len>=1){
                $('input[name=ckbox]:checked').each(function (){
                    //$(this).val();
                    del_str +=','+$(this).val();
                });
                del_str = del_str.substring(1);
                del_id = del_str;
                $("#data_sum").text("确认删除这"+len+'条数据？');
            }else{
                del_id ='';
                $("#data_sum").text('没有选择数据！！');
            }

            $('#myAllModal').modal('show');

        });
    });

    var delid = "";
    function del(id) {
        delid = id;
        $("#myzhuanyeModal").modal();
        return false;
    }
    //确认删除操作
    function truedel() {
        location.href = "{:U('profession/profession_del')}&id=" + delid;
    }


    //搜索
    function select() {
        var val = $("#keyword").val();
        if (val == "") {
            location.href = "{:U('profession/index')}";
            return false;
        }
    }

    function deled() {
        $("#myAllModal").modal('hide');
        if(del_id != ''){
            location.href = "{:U('profession/profession_del')}&id=" + del_id;
        }


    }
</script>


<include file="Public:footer"/>